<div class="card">
  <%= link_to image_tag(danger.image, class: :card_img ), danger_path(danger) %>
  <div class="card_body">
    <%= link_to danger.title, danger_path(danger), class: :card_title%>
    <p class="card_summary">
      <%= danger.content %>
    </p>
    <%= link_to "by #{danger.user.name}", "#", class: :card_user %>
  </div>
</div>