<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.username}さん", "#", class: :greeting_link%>
      </div>
    <% end %>
    <div class="card_wrapper">
      <%= render partial: 'danger', collection: @dangers %>
    </div>
  </div>
</main>
